body {
    margin: 10;
}

.container {
    margin: 0 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo>img {
    height: 48px;
    width: 174px;
}

.header__nav>ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__nav>ul>li {
    list-style: none;
    margin-left: 140px;
}

.header__nav>ul>li>a {
    text-decoration: none;

    color: rgba(0, 0, 0, 0.50);
    font-family: Manrope;
    font-size: 17px;
    letter-spacing: 0.85px;
}

.header__nav>ul>li>a:hover {
    color: rgba(0, 0, 0, 0.75);
    transform: scale(1.4);
}

.hero__container {
    font-family: 'Manrope', sans-serif;
    background: #FFF;
    margin: 0 150px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.box h1 {
    color: #000;
    font-family: 'Manrope';
    font-size: 58.824px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.882px;

}

.box h2 {
    color: #000;
    font-family: 'Manrope';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
}

.box__header {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.box {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.box p {

    color: #000;
    font-family: 'Manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botton {

    width: 295px;
    height: 55px;
    background-color: #1F450C;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.botton p {
    margin: 0px;
    color: #FFF;
    font-family: 'Manrope';
    font-size: 19px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer {
    margin: 150px;
    width: auto;
    height: 344px;
    flex-shrink: 0;
    background: #F3F5F3;
}

.leg {

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.foot__one {
    margin-top: 36px;
    width: 420px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot__one img {
    margin-top: 36px;
}

.foot__two h3 {
    color: var(--, #000);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.foot__two {
    margin-top: 36px;
    color: rgba(0, 0, 0, 0.75);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot__three h3 {
    color: var(--, #000);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.foot__three {
    margin-top: 36px;
    color: rgba(0, 0, 0, 0.75);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

hr {
    width: 1240px;
    height: 2px;
    background: rgba(0, 0, 0, 0.50);
}

.leg__two {
    color: var(--, #000);
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.fingers {
    color: var(--, #000);
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}